# Dependencies
node_modules/
.claude
.codex

# Build output
dist/
release/
packaging/

# Electron specific
*.log

# Development data
dev-data/
docs/

# Game installs
~/
Games/

# OS files
.DS_Store
Thumbs.db
